

.sensorDetails_Container {
    position: absolute;
    top: 10rem;
    left: 15rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;
   
}

.sensorDetails_Container, input{
    display: block;
    font-size: 15px;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
    
}

.error1{
    padding-top: 3rem;
    color: red;
    font-weight: bold;
}

.error2{
    padding-top: 3rem;
    color: red;
    font-weight: bold;
}

.sensorDetails_Container, label{
    display: block;
    font-size: 18px;
    margin-bottom: 1rem;
}

button {
    width: 100%;
    height: 50px;
    border-radius: 20px;
    border-color: rgb(9, 255, 0);
    background-color: rgb(255, 255, 255);
    color: black;
    font-weight: bold;
    transition: box-shadow 0.3s ease;
}

button:hover {
    cursor: pointer;
    box-shadow: -10px -10px 20px rgb(83, 221, 240);
}

.assignSensors_Container {

    position: absolute;
    top: 35rem;
    left: 15rem;
    color: white;
    background-color: rgba(255, 255, 255, 0.1);
    padding: 50px;
    justify-content: center;
    text-align: center;
    border-radius: 20px;

}

.assignSensors_Container, select{
    display: block;
    font-size: 15px;
    margin-bottom: 2rem;
    justify-content: center;
    text-align: center;
    width: 200px;
}