.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, rgb(113, 129, 222), rgb(141, 214, 141));
  padding: 10px 0px;
  /* position: fixed;  */
  top: 0; 
  width: 100%; 
  z-index: 1; 
}
  
  .navbar-left, .navbar-right {
    display: flex;
    align-items: center;
  }

  .brand img {
    height: 50px;
    border-radius: 50%;
    width: 50px;
    margin-right: 80px;
    margin-left: 5px;
    border: 5px solid rgba(0, 255, 255, 0.336);
  }

  .brand img:hover {
    cursor: pointer;
  }

  .navbar-left {
    margin-left: 0.7rem;
  }


  
  .nav-link {
    color: black;
    text-decoration: none;
    margin-right: 4rem;
    font-size: 18px;
    font-weight: 700;
  }

  .active {
    color: rgb(77, 223, 211);
  }
  
  .nav-link:hover {
    text-decoration: underline;
  }
  
  .dropdown {
    position: relative;
    display: flex;
    align-items: center;
    padding-right: 10px;
  }
  
  .dropdown-toggle {
    display: flex;
    align-items: center;
    cursor: pointer;
  }
  
  .dropdown-content {
    display: none; 
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #f9f9f9;
    min-width: 150px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    z-index: 2;
    margin-top: 10px; 
  }
  
  .dropdown-content .dropdown-link {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content .dropdown-link:hover {
    background-color: #f1f1f1;
  }

  .dropdown-content {
    display: block;
  }
  
  .clock {
    color: white;
    margin-right: 20px;
    font-size: 18px;
  }

