.sidebar {
    width: 100px;
    height: 100vh;
    background: linear-gradient(to top, rgb(113, 113, 222), rgba(141, 214, 141, 0.473));
    display: flex;
    flex-direction: column;
    align-items: center; 
    padding-top: 50px; 
    padding-bottom: 20px; 
  }
  
  .sidebar-link {
    color: black;
    text-decoration: none;
    margin-bottom: 100px;
    margin-top: auto;
    font-size: 18px;
    display: flex; 
    align-items: center; 
  }
  
  .sidebar-link svg {
    margin-right: 10px; 
  }